Repository jdfalk/subtitle-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, prettier-js-md, python-fallback

.pre-commit-config.yaml:

# file: .pre-commit-config.yaml
# version: 1.0.0
# guid: 123e4567-e89b-12d3-a456-426614174000

# Pre-commit configuration for subtitle-manager
# Install with: pip install pre-commit ruff && pre-commit install

repos:
  # Ruff for Python linting and formatting (fallback to alternatives if not available)
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter (Python)
        entry: bash
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff check --fix .; else echo "Ruff not found, install with: pip install ruff"; fi']
        language: system
        files: \.py$
        pass_filenames: false
        
      - id: ruff-format
        name: Ruff Formatter (Python)
        entry: bash
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff format .; else echo "Ruff not found, install with: pip install ruff"; fi']
        language: system
        files: \.py$
        pass_filenames: false

      # Prettier using existing webui setup
      - id: prettier-js-md
        name: Prettier (JS/MD/CSS/JSON)
        entry: bash
        args: ['-c', 'cd webui && if [ -f package.json ] && npm list prettier >/dev/null 2>&1; then npm run format; else echo "Prettier not available, install webui dependencies with: cd webui && npm install"; fi']
        language: system
        files: \.(js|jsx|ts|tsx|css|scss|json|md|yaml|yml|html)$
        exclude: ^(webui/dist/|webui/node_modules/|\.git/|\.github/copilot-instructions\.md)
        pass_filenames: false

  # Fallback to built-in tools for basic Python formatting if Ruff unavailable
  - repo: local
    hooks:
      - id: python-fallback
        name: Python Basic Formatting (fallback)
        entry: bash
        args: ['-c', 'if ! command -v ruff >/dev/null 2>&1; then python3 -m py_compile $(find . -name "*.py" -not -path "./webui/*" -not -path "./.git/*") 2>/dev/null || echo "Python syntax check completed"; fi']
        language: system
        files: \.py$
        pass_filenames: false

test(webhooks): cover webhook adapter publisher
  pkg/webhooks/adapter_test.go
Due: none

test(cmd): add profiles command coverage
  cmd/profiles_test.go
Due: none

test(karagarga): add fetch coverage
  pkg/providers/karagarga/karagarga_test.go
Due: none

test(maintenance): add coverage for maintenance helpers
  pkg/maintenance/maintenance_additional_test.go
Due: none

test(monitoring): expand sync coverage
  pkg/monitoring/sync_test.go
Due: none

test(queue): add job metadata and queue message serialization tests
  AGENTS.md
  cmd/merge_test.go
  pkg/logging/logging_additional_test.go
  pkg/media/filestorage_test.go
  pkg/monitoring/sync_test.go
  pkg/providers/gestdown/gestdown_test.go
  pkg/providers/subdivx/subdivx_test.go
  pkg/queue/jobs_test.go
  pkg/renamer/renamer_test.go
  pkg/services/implementations_test.go
  pkg/storage/config_test.go
  pkg/storage/manager_test.go
  pkg/webhooks/handlers_test.go
Due: prettier-js-md

chore(workflows): update action versions and improve configurations
  .github/instructions/copilot-instructions.md
  .github/workflows/build-assets.yml
  .github/workflows/ci.yml
  .github/workflows/commit-override-handler.yml
  .github/workflows/pr-automation.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-frontend.yml
  .github/workflows/release-go.yml
  .github/workflows/release-protobuf.yml
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yml
  .github/workflows/release.yml
  .github/workflows/sync-receiver.yml
  .golangci.yml
  .goreleaser.yml
  super-linter-ci.env
  super-linter-pr.env
Due: prettier-js-md

Update dependabot.yml
  .github/dependabot.yml
Due: prettier-js-md

chore(instructions): remove outdated shell, test generation, and TypeScript instructions
  .github/dependabot.yml
  .github/instructions/commit-messages.instructions.md
  .github/instructions/copilot-instructions.md
  .github/instructions/general-coding.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/html-css.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/json.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/pull-request-descriptions.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/rust-utility.instructions.md
  .github/instructions/rust.instructions.md
  .github/instructions/safe-ai-util.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/shell.instructions.md
  .github/instructions/test-generation.instructions.md
  .github/instructions/typescript.instructions.md
  .github/workflows/build-assets.yml
Due: prettier-js-md

Remove Trivy - compromised supply chain
  .github/agents/Security Scanner Coordinator.agent.md
  .github/scripts/docker-security.py
  .github/security-guidelines.md
  .github/workflows/release-docker.yml
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

chore: update ghcommon workflow refs to v1.10.4
  .github/workflows/ci.yml
Due: prettier-js-md

chore(gitignore): sync managed ignore block
  .gitignore
Due: none

feat(ci): add nightly burndown caller workflow
  .github/workflows/nightly-burndown.yml
Due: prettier-js-md

fix(ci): pin burndown caller to fixed ghcommon SHA 1a52124
  .github/workflows/nightly-burndown.yml
Due: prettier-js-md
