Repository jdfalk/subtitle-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, prettier-js-md, python-fallback

.pre-commit-config.yaml:

# file: .pre-commit-config.yaml
# version: 1.0.0
# guid: 123e4567-e89b-12d3-a456-426614174000

# Pre-commit configuration for subtitle-manager
# Install with: pip install pre-commit ruff && pre-commit install

repos:
  # Ruff for Python linting and formatting (fallback to alternatives if not available)
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter (Python)
        entry: bash
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff check --fix .; else echo "Ruff not found, install with: pip install ruff"; fi']
        language: system
        files: \.py$
        pass_filenames: false
        
      - id: ruff-format
        name: Ruff Formatter (Python)
        entry: bash
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff format .; else echo "Ruff not found, install with: pip install ruff"; fi']
        language: system
        files: \.py$
        pass_filenames: false

      # Prettier using existing webui setup
      - id: prettier-js-md
        name: Prettier (JS/MD/CSS/JSON)
        entry: bash
        args: ['-c', 'cd webui && if [ -f package.json ] && npm list prettier >/dev/null 2>&1; then npm run format; else echo "Prettier not available, install webui dependencies with: cd webui && npm install"; fi']
        language: system
        files: \.(js|jsx|ts|tsx|css|scss|json|md|yaml|yml|html)$
        exclude: ^(webui/dist/|webui/node_modules/|\.git/|\.github/copilot-instructions\.md)
        pass_filenames: false

  # Fallback to built-in tools for basic Python formatting if Ruff unavailable
  - repo: local
    hooks:
      - id: python-fallback
        name: Python Basic Formatting (fallback)
        entry: bash
        args: ['-c', 'if ! command -v ruff >/dev/null 2>&1; then python3 -m py_compile $(find . -name "*.py" -not -path "./webui/*" -not -path "./.git/*") 2>/dev/null || echo "Python syntax check completed"; fi']
        language: system
        files: \.py$
        pass_filenames: false

fix(.gitignore): remove generated file patterns and add test directories
  .gitignore
  TEST_ANALYSIS.md
Due: prettier-js-md

docs: update TEST_ANALYSIS.md to reflect protobuf files now tracked
  TEST_ANALYSIS.md
Due: prettier-js-md

chore: remove unnecessary metadata from super-linter PR configuration
  .github/linters/super-linter-pr.env
Due: none

fix(authserver): update OAuth flow test to use correct token handling and version bump
  pkg/authserver/oauth_flow_test.go
Due: none

feat(gcommonauth): add RBAC permission checks with comprehensive tests
  pkg/authserver/oauth_flow_test.go
  pkg/cache/comprehensive_cache_test.go
  pkg/cache/interface.go
  pkg/cache/memory.go
  pkg/gcommonauth/rbac_test.go
  pkg/grpcserver/health_test.go
Due: none

fix(authserver): update user info mock method in OAuth user info retrieval test
  pkg/authserver/oauth_flow_test.go
Due: none

feat(tests): enhance store tests with SQLite availability checks and add backend selection tests
  pkg/database/backend_selection_test.go
  pkg/database/store_factory_test.go
  pkg/database/store_test.go
Due: none

feat(tests): add comprehensive tests for types and video functionalities
  pkg/types/types_test.go
  pkg/video/video_test.go
Due: none

test(database): improve backend selection tests and enhance error handling
  pkg/database/backend_selection_test.go
  pkg/database/store_factory_test.go
  pkg/database/store_test.go
Due: none

feat: implement several more tests
  docs/DATABASE_TESTING_ARCHITECTURE.md
  pkg/database/store_test.go
  pkg/gcommon/config/config_test.go
  pkg/gcommon/subtitle_format.go
  pkg/gcommon/subtitle_format_test.go
  pkg/providers/search_functionality_test.go
  scripts/test_database_backends.sh
Due: prettier-js-md

fix(tests): clean up whitespace and improve error message clarity in context handling test
  pkg/providers/search_functionality_test.go
Due: none

chore: update Go version to 1.24 in go.mod files and adjust go_package paths in proto files
  go.mod
  proto/engine/v1/engine_service.proto
  proto/file/v1/file_service.proto
  proto/web/v1/authenticate_user_request.proto
  proto/web/v1/authenticate_user_response.proto
  proto/web/v1/get_user_request.proto
  proto/web/v1/health_check_request.proto
  proto/web/v1/health_check_response.proto
  proto/web/v1/logout_user_request.proto
  proto/web/v1/refresh_token_request.proto
  proto/web/v1/web_service.proto
  proto/web/v1/web_service_complete.proto
  sdks/go/go.mod
Due: none

feat(linters): add comprehensive linter configurations for various languages
  .eslintrc.yml
  .github/linters/.prettierrc
  .github/linters/README.md
  .golangci.yml
  .markdownlint.json
  .pylintrc
  .python-black
  .yaml-lint.yml
  clippy.toml
  ruff.toml
  rustfmt.toml
  super-linter-ci.env
  super-linter-pr.env
Due: prettier-js-md

refactor: streamline linter configurations and update paths for CI workflows
  .github/workflow-config.yaml
  .github/workflows/ci.yml
  .github/workflows/sync-receiver.yml
  .golangci.yml
  .yaml-lint.yml
  clippy.toml
  super-linter-ci.env
Due: prettier-js-md

chore: update workflow configuration for improved automation and sync settings
  .github/scripts/sync-receiver-generate-summary.py
  .github/scripts/sync-receiver-sync-files.py
  .github/workflow-config.yaml
  .github/workflows/sync-receiver.yml
  clippy.toml
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

fix: remove linters directory from sync paths in main function
  .github/scripts/sync-receiver-sync-files.py
Due: ruff-check, ruff-format, python-fallback

fix: remove symlink to linters directory in VSCode configuration
  .vscode/linters
Due: none

fix: update Go version in go.mod and adjust linter configurations in .golangci.yml
  .golangci.yml
  go.mod
Due: prettier-js-md

fix: update protobuf syntax to edition 2023 across multiple documentation files
  docs/TECHNICAL_DESIGN.md
  docs/instructions/protobuf.instructions.md
  docs/tasks.old/01-core-architecture/TASK-01-001-service-interface-definitions-PART1.md
  docs/tasks.old/01-core-architecture/TASK-01-001-service-interface-definitions-PART2.md
  docs/tasks.old/01-core-architecture/TASK-01-001-service-interface-definitions-PART3.md
  docs/tasks.old/01-core-architecture/TASK-01-001-service-interface-definitions.md
  docs/tasks/04-file-service/TASK-04-001-file-service-implementation.md
  docs/tasks/05-service-coordination/TASK-05-001-service-coordination-implementation.md
Due: prettier-js-md

fix: update documentation files to use HTML comment syntax for metadata
  docs/ISSUE_MANAGEMENT_AND_DEVELOPMENT_SUMMARY.md
  docs/PROJECT_PLAN_AND_TECHNICAL_ANALYSIS.md
  docs/api/README.md
  docs/api/authentication.md
  docs/api/rate-limiting.md
  docs/api/webhooks.md
  docs/tasks.old/04-advanced-migration/TASK-04-005-database-schema-compatibility.md
  docs/tasks.old/05-package-replacements/TASK-05-001-replace-configpb.md
  docs/tasks.old/05-package-replacements/TASK-05-002-replace-databasepb.md
  docs/tasks.old/05-package-replacements/TASK-05-003-health-monitoring-integration.md
  scripts/README-notifications.md
  scripts/copilot-firewall/README.md
  sdks/go/README.md
  sdks/javascript/README.md
  sdks/python/README.md
  systemd/README.md
  tests/e2e/README.md
  webui/FRONTEND_IMPLEMENTATION_COMPLETE_GUIDE.md
Due: prettier-js-md

docs(instructions): standardize git policy to MCP/safe-ai-util
  .github/copilot-instructions.md
Due: none

docs(instructions): amend git policy hierarchy and add subagent guidance
  .github/copilot-instructions.md
Due: none

docs(github): update documentation to remove VS Code git task references and sync instruction files
  .github/CLAUDE.md
  .github/instructions/general-coding.instructions.md
Due: prettier-js-md

feat(tasks): add merge-conflict agent and clean up tasks.json
  .github/prompts/merge-conflict-resolution.agent.md
  .vscode/tasks.json
Due: prettier-js-md

Fix CI robustness for queue, docker, python
  .github/workflows/release-docker.yml
  pkg/queue/queue_test.go
  requirements.txt
Due: prettier-js-md

Stabilize CI workflows and cross-platform build
  .github/workflows/ci.yml
  .github/workflows/release-docker.yml
  .github/workflows/release.yml
  pkg/webserver/system.go
  pkg/webserver/system_disk_unix.go
  pkg/webserver/system_disk_windows.go
  requirements.txt
Due: prettier-js-md

Make CI/release python and perf jobs opt-in
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier-js-md

Fix CI lint config and initialize CodeQL
  .github/workflows/ci.yml
  super-linter-ci.env
Due: prettier-js-md

test(config): expand log level parsing coverage
  pkg/config/types_test.go
Due: none

test(monitoring): cover blacklist helpers
  pkg/monitoring/blacklist_test.go
Due: none

test(logging): add coverage for logging helpers
  pkg/logging/logging_additional_test.go
Due: none

test(queue): add job queue message coverage
  pkg/queue/jobs_test.go
Due: none

test(storage): cover storage manager workflows
  pkg/storage/manager_test.go
Due: none
