Repository jdfalk/subtitle-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, prettier-js-md, python-fallback

.pre-commit-config.yaml:

# file: .pre-commit-config.yaml
# version: 1.0.0
# guid: 123e4567-e89b-12d3-a456-426614174000

# Pre-commit configuration for subtitle-manager
# Install with: pip install pre-commit ruff && pre-commit install

repos:
  # Ruff for Python linting and formatting (fallback to alternatives if not available)
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter (Python)
        entry: bash
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff check --fix .; else echo "Ruff not found, install with: pip install ruff"; fi']
        language: system
        files: \.py$
        pass_filenames: false
        
      - id: ruff-format
        name: Ruff Formatter (Python)
        entry: bash
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff format .; else echo "Ruff not found, install with: pip install ruff"; fi']
        language: system
        files: \.py$
        pass_filenames: false

      # Prettier using existing webui setup
      - id: prettier-js-md
        name: Prettier (JS/MD/CSS/JSON)
        entry: bash
        args: ['-c', 'cd webui && if [ -f package.json ] && npm list prettier >/dev/null 2>&1; then npm run format; else echo "Prettier not available, install webui dependencies with: cd webui && npm install"; fi']
        language: system
        files: \.(js|jsx|ts|tsx|css|scss|json|md|yaml|yml|html)$
        exclude: ^(webui/dist/|webui/node_modules/|\.git/|\.github/copilot-instructions\.md)
        pass_filenames: false

  # Fallback to built-in tools for basic Python formatting if Ruff unavailable
  - repo: local
    hooks:
      - id: python-fallback
        name: Python Basic Formatting (fallback)
        entry: bash
        args: ['-c', 'if ! command -v ruff >/dev/null 2>&1; then python3 -m py_compile $(find . -name "*.py" -not -path "./webui/*" -not -path "./.git/*") 2>/dev/null || echo "Python syntax check completed"; fi']
        language: system
        files: \.py$
        pass_filenames: false

feat(database): Add comprehensive database schema compatibility for gcommon types
  docs/tasks/04-advanced-migration/TASK-04-005-database-schema-compatibility.md
Due: prettier-js-md

feat(metrics): Migrate to gcommon metrics system
  docs/tasks/01-gcommon-migration/TASK-01-002-replace-databasepb.md
  docs/tasks/04-advanced-migration/TASK-04-005-database-schema-compatibility.md
  docs/tasks/05-package-replacements/TASK-05-001-replace-configpb.md
  docs/tasks/05-package-replacements/TASK-05-002-replace-databasepb.md
  docs/tasks/05-package-replacements/TASK-05-003-health-monitoring-integration.md
  docs/tasks/05-package-replacements/TASK-05-004-media-package-integration.md
  docs/tasks/05-package-replacements/TASK-05-005-metrics-migration.md
Due: prettier-js-md

feat(database): migrate to gcommon database protobufs
  .github/doc-updates/processed/20250829_034818_621e3dbc-84e7-4022-9f99-3a17438c31b4.json
  .github/doc-updates/processed/20250829_034818_927f69b4-7112-49b8-ac31-be2dcced5733.json
  .github/issue-updates/48383d01-ab3a-44fb-824b-3c09852a052f.json
  CHANGELOG.md
  Makefile
  TODO.md
  docs/gcommon-api/database.md
  docs/tasks/01-gcommon-migration/database-migration-map.md
  pkg/database/integration_test.go
  pkg/database/migration_test.go
  pkg/database/pb_conversions.go
  pkg/database/pb_conversions_test.go
  pkg/databasepb/databasepb.go
Due: prettier-js-md

Implement feature X to enhance user experience and fix bug Y in module Z
  docs/gcommon-api/database.bak.md
Due: prettier-js-md

feat(ui): add back button and settings overview
  .github/doc-updates/10d8e71f-f791-47bc-92a9-fb12e889d73d.json
  .github/doc-updates/52f02ed8-bf98-47c8-8c86-4000044a44bf.json
  .github/issue-updates/91ff2b06-a6fe-46ef-a8c9-2cd327b10d9e.json
  .github/issue-updates/ab6924e7-e044-4901-8895-1c4b73eef8bc.json
  webui/src/App.jsx
  webui/src/Settings.jsx
  webui/src/UserManagement.jsx
  webui/src/__tests__/BackButton.test.jsx
  webui/src/__tests__/Navigation.test.jsx
  webui/src/__tests__/ProviderConfigDialog.test.jsx
  webui/src/__tests__/UserManagement.test.jsx
  webui/src/components/BackButton.jsx
  webui/src/components/Navigation.jsx
  webui/src/components/SettingsOverview.jsx
Due: prettier-js-md

Refactor documentation for advanced migration and package replacements
  docs/gcommon-api/database.bak.md
  docs/gcommon-api/database.md
  docs/tasks/04-advanced-migration/TASK-04-005-database-schema-compatibility.md
  docs/tasks/05-package-replacements/TASK-05-001-replace-configpb.md
  docs/tasks/05-package-replacements/TASK-05-002-replace-databasepb.md
  docs/tasks/05-package-replacements/TASK-05-003-health-monitoring-integration.md
  docs/tasks/05-package-replacements/TASK-05-004-media-package-integration.md
  docs/tasks/05-package-replacements/TASK-05-005-metrics-migration.md
Due: prettier-js-md

fix(ci): resolve Docker tag generation and pip cache issues
  .github/workflows/release-docker.yml
  .github/workflows/release-protobuf.yml
Due: prettier-js-md

Remove generated gRPC and protobuf files for TranslatorService and related messages, and clean up unused imports in the auth package.
  pkg/database/pb_conversions.go
  pkg/gcommon/config/config.go
  pkg/translatorpb/translator.pb.go
  pkg/translatorpb/translator_grpc.pb.go
  pkg/translatorpb/translator_protoopaque.pb.go
  pkg/webserver/auth.go
Due: none

feat: Implement GitHub Issue Analysis and Automation System
  .vscode/tasks.json
  docs/ISSUE_ANALYSIS_AND_AUTOMATION.md
  requirements.txt
  scripts/issue_analysis_config.py
  scripts/issue_analyzer.py
  scripts/issue_automation_wrapper.py
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

feat: Add PR automation workflow for auto-labeling pull requests
  .github/workflows/pr-automation.yml
Due: prettier-js-md

Checkpoint from VS Code for coding agent session
  .github/issue-updates/processed/48383d01-ab3a-44fb-824b-3c09852a052f.json
  .github/issue-updates/processed/91ff2b06-a6fe-46ef-a8c9-2cd327b10d9e.json
  .github/issue-updates/processed/ab6924e7-e044-4901-8895-1c4b73eef8bc.json
  .vscode/tasks.json
  PROJECT_STATUS.md
  assign_issues_to_projects_subtitle-manager.py
  copilot-util-args
  scripts/issue_analysis_config.py
  scripts/issue_analyzer.py
  scripts/issue_automation_wrapper.py
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

refactor: Update general coding instructions and remove obsolete scripts
  .github/instructions/general-coding.instructions.md
  cpu.prof
  fix_doc_updates.py
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

sync: update files from ghcommon
  .github/instructions/commit-messages.instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/rust-utility.instructions.md
Due: prettier-js-md

fix: update import paths for subtitle translator package
  cmd/grpcserver/main.go
  cmd/grpcserver_cmd.go
  cmd/grpcserver_cmd_test.go
  cmd/grpcsetconfig.go
Due: none

refactor: update import paths for translator package and adjust related tests
  pkg/authserver/server_test.go
  pkg/database/database.go
  pkg/database/migration_test.go
  pkg/database/pebble.go
  pkg/grpcserver/server.go
  pkg/grpcserver/server_test.go
  pkg/media/server.go
  pkg/syncer/syncer_test.go
  pkg/translator/translator.go
  pkg/translator/translator_test.go
Due: none

fix: update go_package path in translator.proto for correct package structure
  Makefile
  proto/subtitle/translator/v1/translator.proto
Due: none

feat(media): implement FileStorage for managing file paths
  pkg/database/database.go
  pkg/database/postgres.go
  pkg/media/client.go
  pkg/media/filestorage.go
  pkg/media/server.go
  pkg/video/video.go
Due: none

fix: correct go_package option in config.proto for consistency
  proto/config.proto
Due: none

fix(tests): enhance nil and empty value checks in conversion tests
  pkg/database/pb_conversions_test.go
Due: none

test: add closing brace to TestDatabaseMigration function
  pkg/database/migration_test.go
Due: none

fix(tests): update user retrieval check to use GetEmail method
  pkg/backups/service_test.go
  pkg/database/pebble_auth_test.go
Due: none

fix(tests): update user field access to use getter methods in TestListUsers and TestGetOrCreateUser
  pkg/gcommonauth/auth_test.go
Due: none

feat: complete TASK-01-001 - migrate configpb to gcommon config
  docs/tasks/01-gcommon-migration/TASK-01-001-COMPLETED.md
  docs/tasks/01-gcommon-migration/config-migration-map.md
  pkg/config/config_test.go
  pkg/config/types.go
  proto/config.proto
Due: prettier-js-md

fix(tests): remove unnecessary whitespace in LogLevel migration tests
  docs/tasks/01-gcommon-migration/TASK-01-001-COMPLETED.md
  pkg/config/config_test.go
Due: prettier-js-md

feat: add TASK-01-002 completion documentation for gcommon database migration
  docs/tasks/01-gcommon-migration/TASK-01-002-COMPLETE.md
Due: prettier-js-md

feat: migrate from gcommonauth to gcommon - update authentication and session handling
  docs/tasks/01-gcommon-migration/TASK-01-003-COMPLETE.md
  pkg/authserver/server.go
  pkg/gcommonauth/auth.go
  pkg/gcommonauth/auth_test.go
  pkg/gcommonauth/session_test.go
  pkg/webserver/auth.go
  pkg/webserver/oauth.go
  pkg/webserver/server.go
  scripts/update_gcommonauth_tests.py
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

fix(ui): resolve settings navigation routing confusion
  docs/tasks/02-ui-fixes/TASK-02-001-COMPLETE.md
  docs/tasks/02-ui-fixes/TASK-02-003-COMPLETE.md
  docs/tasks/02-ui-fixes/TASK-02-003-settings-overhaul.md
  docs/tasks/02-ui-fixes/TASK-02-004-dashboard-enhancements.md
  docs/tasks/02-ui-fixes/TASK-02-009-simplified-mode-interface.md
  webui/src/App.jsx
Due: prettier-js-md

feat: Add end-to-end (E2E) testing framework with Selenium and pytest
  docs/tasks/02-ui-fixes/TASK-02-003-COMPLETE.md
  docs/tasks/02-ui-fixes/TASK-02-003-settings-overhaul.md
  docs/tasks/02-ui-fixes/TASK-02-004-dashboard-enhancements.md
  requirements.txt
  tests/e2e/conftest.py
  tests/e2e/pytest.ini
  tests/e2e/requirements.txt
  tests/e2e/run_tests.py
  tests/e2e/test_settings_navigation.py
  tests/e2e/test_simple.py
  tests/e2e/test_smoke.py
  tests/e2e/test_ui_critical_functionality.py
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

feat(testing): implement comprehensive Selenium E2E testing framework
  tests/e2e/README.md
Due: prettier-js-md

feat(tests): complete implementation of Selenium E2E testing framework and update documentation
  docs/tasks/02-ui-fixes/TASK-02-002-COMPLETE.md
  docs/tasks/02-ui-fixes/TASK-02-002-selenium-testing.md
  tests/e2e/README.md
Due: prettier-js-md

feat(tests): add live server test runner for E2E testing
  tests/e2e/pytest.ini
  tests/e2e/test_live.py
Due: ruff-check, ruff-format, python-fallback

feat(settings): overhaul settings page with tabbed interface and improved UX
  docs/tasks/07-architecture-refactor/TASK-07-001-consolidate-monitoring.md
  docs/tasks/TASK-02-002-B-selenium-testing.md
  docs/tasks/TASK-03-000-architecture-refactor-overview.md
  docs/tasks/TASK-03-001-unified-monitoring-service.md
  docs/tasks/TASK-03-002-all-in-one-mode.md
  docs/tasks/TASK-03-004-distributed-mode-architecture.md
  docs/tasks/TASK-OPTIMIZATION-SUMMARY.md
  docs/tasks/archived/TASK-01-001-COMPLETED.md
  docs/tasks/archived/TASK-01-001-replace-configpb.md
  docs/tasks/archived/TASK-01-002-COMPLETE.md
  docs/tasks/archived/TASK-01-002-replace-databasepb.md
  docs/tasks/archived/TASK-01-003-COMPLETE.md
  docs/tasks/archived/TASK-01-003-replace-gcommonauth.md
  docs/tasks/archived/TASK-02-001-COMPLETE.md
  docs/tasks/archived/TASK-02-001-fix-layout-navigation.md
  docs/tasks/archived/TASK-02-002-A-COMPLETE.md
  docs/tasks/archived/TASK-02-002-A-selenium-testing.md
  docs/tasks/archived/TASK-02-003-COMPLETE.md
  docs/tasks/archived/TASK-02-003-settings-overhaul.md
  docs/tasks/archived/config-migration-map.md
  docs/tasks/archived/database-migration-map.md
  pkg/grpcserver/server.go
  test_grpc_client.go
  tests/e2e/conftest.py
  tests/e2e/requirements.txt
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

feat: complete task implementations 01-08 with comprehensive gcommon integration
  cmd/monitor_unified.go
  docs/tasks/01-core-architecture/TASK-01-001-service-interface-definitions-GCOMMON.md
  docs/tasks/01-core-architecture/TASK-01-001-service-interface-definitions-OLD.md
  docs/tasks/01-core-architecture/TASK-01-001-service-interface-definitions-PART1.md
  docs/tasks/01-core-architecture/TASK-01-001-service-interface-definitions-PART2.md
  docs/tasks/01-core-architecture/TASK-01-001-service-interface-definitions-PART3.md
  docs/tasks/01-core-architecture/TASK-01-001-service-interface-definitions.md
  docs/tasks/02-web-service/TASK-02-001-web-service-implementation-OLD.md
  docs/tasks/02-web-service/TASK-02-001-web-service-implementation.md
  docs/tasks/03-engine-service/TASK-03-001-engine-service-implementation.md
  docs/tasks/04-file-service/TASK-04-001-file-service-implementation-COMPLETE.md
  docs/tasks/04-file-service/TASK-04-001-file-service-implementation.md
  docs/tasks/05-service-coordination/TASK-05-001-service-coordination-implementation.md
  docs/tasks/06-monitoring/TASK-06-001-monitoring-implementation.md
  docs/tasks/07-architecture/TASK-07-001-architecture-refactor-implementation.md
  docs/tasks/07-architecture/TASK-07-002-integration-testing-implementation.md
  docs/tasks/08-deployment/TASK-08-001-deployment-implementation.md
  docs/tasks/GCOMMON-CORRECTION.md
  pkg/monitoring/unified.go
Due: prettier-js-md

feat: Add comprehensive protobuf definitions for File and Web services
  buf.gen.yaml
  buf.yaml
  docs/tasks/01-core-architecture/TASK-01-001-service-interface-definitions-OLD.md
  pkg/services/engine_interfaces.go
  pkg/services/file_interfaces.go
  pkg/services/interfaces.go
  proto/engine/v1/engine_service.proto
  proto/file/v1/file_service.proto
  proto/web/v1/web_service.proto
  scripts/generate_proto_messages.py
  scripts/generate_protobuf_services.py
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

frontend(proto): add new proto files for user authentication and health check services
  proto/file/v1/file_service.proto
  proto/web/v1/authenticate_user_request.proto
  proto/web/v1/authenticate_user_response.proto
  proto/web/v1/get_user_request.proto
  proto/web/v1/health_check_request.proto
  proto/web/v1/health_check_response.proto
  proto/web/v1/logout_user_request.proto
  proto/web/v1/refresh_token_request.proto
  proto/web/v1/web_service_complete.proto
Due: none

frontend(interfaces): remove unused engine and file service interface files
  pkg/services/engine_interfaces.go
  pkg/services/file_interfaces.go
Due: none
