Repository jdfalk/subtitle-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, prettier-js-md, python-fallback

.pre-commit-config.yaml:

# file: .pre-commit-config.yaml
# version: 1.0.0
# guid: 123e4567-e89b-12d3-a456-426614174000

# Pre-commit configuration for subtitle-manager
# Install with: pip install pre-commit ruff && pre-commit install

repos:
  # Ruff for Python linting and formatting (fallback to alternatives if not available)
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter (Python)
        entry: bash
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff check --fix .; else echo "Ruff not found, install with: pip install ruff"; fi']
        language: system
        files: \.py$
        pass_filenames: false
        
      - id: ruff-format
        name: Ruff Formatter (Python)
        entry: bash
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff format .; else echo "Ruff not found, install with: pip install ruff"; fi']
        language: system
        files: \.py$
        pass_filenames: false

      # Prettier using existing webui setup
      - id: prettier-js-md
        name: Prettier (JS/MD/CSS/JSON)
        entry: bash
        args: ['-c', 'cd webui && if [ -f package.json ] && npm list prettier >/dev/null 2>&1; then npm run format; else echo "Prettier not available, install webui dependencies with: cd webui && npm install"; fi']
        language: system
        files: \.(js|jsx|ts|tsx|css|scss|json|md|yaml|yml|html)$
        exclude: ^(webui/dist/|webui/node_modules/|\.git/|\.github/copilot-instructions\.md)
        pass_filenames: false

  # Fallback to built-in tools for basic Python formatting if Ruff unavailable
  - repo: local
    hooks:
      - id: python-fallback
        name: Python Basic Formatting (fallback)
        entry: bash
        args: ['-c', 'if ! command -v ruff >/dev/null 2>&1; then python3 -m py_compile $(find . -name "*.py" -not -path "./webui/*" -not -path "./.git/*") 2>/dev/null || echo "Python syntax check completed"; fi']
        language: system
        files: \.py$
        pass_filenames: false

Update style guidelines for JavaScript, Python, and TypeScript
  .github/copilot-instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/typescript.instructions.md
Due: prettier-js-md

frontend(services): add service interfaces and implementations for web, engine, and file services
  pkg/services/implementations.go
  pkg/services/interfaces.go
  pkg/services/validation.go
Due: none

Refactor code for improved readability and consistency
  .github/scripts/sync-release-run-semantic-release.py
  .github/scripts/sync-release-upload-artifacts.py
  doc_update_manager.py
  docs/api/examples/python-integration.py
  scripts/doc_update_manager.py
  scripts/issue_analysis_config.py
  scripts/issue_analyzer.py
  scripts/issue_automation_wrapper.py
  scripts/label_manager.py
  scripts/submit_codex_jobs.py
  scripts/unified_github_project_manager_v3.py
  sdks/python/setup.py
  sdks/python/subtitle_manager_sdk/__init__.py
  sdks/python/subtitle_manager_sdk/client.py
  sdks/python/subtitle_manager_sdk/exceptions.py
  sdks/python/subtitle_manager_sdk/models.py
  sdks/python/tests/test_client.py
Due: ruff-check, ruff-format, python-fallback

Update JavaScript style guidelines to align with the complete Google JavaScript Style Guide, enhancing clarity and maintainability.
  .github/instructions/javascript.instructions.md
Due: prettier-js-md

Implement feature X to enhance user experience and optimize performance
  .github/instructions/python.instructions.md
Due: prettier-js-md

feat: TypeScript Style Guidelines to version 1.2.0
  .github/instructions/go.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/typescript.instructions.md
Due: prettier-js-md

sync: update files from ghcommon
  .github/copilot-instructions.md
Due: none

fix(workflows): disable sync workflow for manual file management
  .github/workflows/sync-receiver.yml
Due: prettier-js-md

fix: systematic protobuf import fixes
  .github/instructions/commit-messages.instructions.md
  .github/instructions/copilot-instructions.md
  .github/instructions/general-coding.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/html-css.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/json.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/pull-request-descriptions.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/rust-utility.instructions.md
  .github/instructions/rust.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/shell.instructions.md
  .github/instructions/test-generation.instructions.md
  .github/instructions/typescript.instructions.md
Due: prettier-js-md

fix: systematic protobuf import fixes
  .github/CLAUDE.md
  .github/copilot-instructions.md
  AGENTS.md
  docs/instructions/general-coding.instructions.md
Due: prettier-js-md

fix: systematic protobuf import fixes
  cmd/monitor_unified.go
  docs/tasks/00-ARCHITECTURE-OVERVIEW.md
  docs/tasks/GCOMMON-CORRECTION.md
  pkg/monitoring/unified.go
  pkg/services/implementations.go
  pkg/services/interfaces.go
  pkg/services/registry_test.go
  pkg/services/web_service_integration_test.go
  pkg/services/web_service_test.go
  proto/web/v1/authenticate_user_request.proto
  proto/web/v1/authenticate_user_response.proto
  proto/web/v1/get_user_request.proto
  proto/web/v1/health_check_request.proto
  proto/web/v1/health_check_response.proto
  proto/web/v1/logout_user_request.proto
  proto/web/v1/refresh_token_request.proto
  proto/web/v1/web_service.proto
  proto/web/v1/web_service_complete.proto
  test_grpc_client.go
Due: prettier-js-md

fix: systematic protobuf import fixes
  pkg/webserver/oauth_management_test.go
  pkg/webserver/oauth_test.go
  pkg/webserver/server_test.go
Due: none

fix: systematic protobuf import fixes
  pkg/webserver/cache_test.go
  pkg/webserver/system_test.go
  pkg/webserver/widgets_test.go
Due: none

fix: systematic protobuf import fixes
  docs/tasks/01-core-architecture/TASK-01-002-gcommon-adoption.md
  docs/tasks/06-monitoring/TASK-06-003-unified-monitoring-tests.md
  docs/tasks/10-testing-quality/TASK-10-001-testing-roadmap.md
  docs/tasks/10-testing-quality/TASK-10-002-webserver-coverage.md
Due: prettier-js-md

fix: systematic protobuf import fixes
  docs/tasks/02-web-service/TASK-02-002-cache-key-canonicalization.md
  docs/tasks/02-web-service/TASK-02-003-cached-provider-integration-tests.md
  docs/tasks/06-monitoring/TASK-06-004-grpc-health-coverage.md
Due: prettier-js-md

fix: systematic protobuf import fixes
  pkg/webserver/cache_test.go
  pkg/webserver/server_test.go
Due: none

chore: add new mockery configuration file for interface mocking
  .mockery.yaml
  .mockery.yml
Due: prettier-js-md

feat: Generate mock implementations for various interfaces using mockery
  .mockery.yml
  pkg/backups/mocks/cloudprovider_mock.go
  pkg/backups/mocks/compression_mock.go
  pkg/backups/mocks/encryption_mock.go
  pkg/backups/mocks/storage_mock.go
  pkg/cache/mocks/cache_mock.go
  pkg/cache/mocks/statsprovider_mock.go
  pkg/captcha/mocks/solver_mock.go
  pkg/database/mocks/subtitlestore_mock.go
  pkg/database/mocks/taggedentity_mock.go
  pkg/errors/mocks/errorhandler_mock.go
  pkg/events/mocks/eventpublisher_mock.go
  pkg/notifications/mocks/notifier_mock.go
  pkg/providers/mocks/provider.go
  pkg/providers/mocks/searcher.go
  pkg/queue/mocks/job_mock.go
  pkg/services/mocks/engine_service_interface.go
  pkg/services/mocks/file_service_interface.go
  pkg/services/mocks/service_registry.go
  pkg/services/mocks/web_service_interface.go
  pkg/storage/mocks/storageprovider_mock.go
  pkg/syncer/mocks/subtitleextractor_mock.go
  pkg/syncer/mocks/transcriber_mock.go
  pkg/translator/mocks/google_client.go
  pkg/translator/mocks/openai_client.go
  pkg/webhooks/mocks/incominghandler_mock.go
  pkg/webserver/system_test.go
  pkg/webserver/widgets_test.go
Due: prettier-js-md

chore: update language versions to 3.13 for Python and 1.24 for Go across workflows and configuration files
  .github/scripts/detect-build-matrix.py
  .github/scripts/detect_languages.py
  .github/unified-automation-config.json
  .github/workflow-config.yaml
  .github/workflows/ci.yml
  .github/workflows/release-protobuf.yml
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

chore: update version to 2.1.0 and add critical note on versioning in general coding instructions
  .github/instructions/general-coding.instructions.md
Due: prettier-js-md

chore: enable auto-fix for additional linters in Super-Linter configuration
  .github/linters/super-linter-pr.env
Due: none

chore: update CI version to 1.18.1 and bump Super Linter to v8.1.0
  .github/workflows/ci.yml
Due: prettier-js-md

chore: remove obsolete backup configuration and database files
  pkg/backups/backups/20250706-220942-configuration-20250706-220942.bak
  pkg/backups/backups/20250706-220942-database-20250706-220942.bak
Due: none

chore: fix mock client instantiation in TestServerTranslate
  cmd/grpcserver_cmd_test.go
Due: none

chore: replace direct mock instantiation with NewMockProvider in tests
  pkg/providers/instance_test.go
  pkg/providers/registry_test.go
  pkg/scanner/progress_test.go
  pkg/scanner/scanner_test.go
  pkg/translator/translator_test.go
  pkg/watcher/watcher_test.go
Due: none

Add comprehensive tests for gRPC health checks, subtitle fetching, and search functionality
  pkg/authserver/oauth_flow_test.go
  pkg/cache/comprehensive_cache_test.go
  pkg/grpcserver/health_test.go
  pkg/providers/search_functionality_test.go
  pkg/webserver/search_integration_test.go
Due: none

fix(test): resolve webserver search rate limiting and provider support test failures
  pkg/webserver/search_integration_test.go
  pkg/webserver/search_test.go
Due: none

docs: add comprehensive test analysis and implementation plan
  TEST_ANALYSIS.md
Due: prettier-js-md

Checkpoint from VS Code for coding agent session
  TEST_ANALYSIS.md
Due: prettier-js-md

fix(protobuf): remove *.pb.go from gitignore and add generated protobuf files
  .gitignore
  TEST_ANALYSIS.md
  pkg/config.pb.go
  pkg/config_protoopaque.pb.go
  pkg/engine/v1/engine_service.pb.go
  pkg/engine/v1/engine_service_grpc.pb.go
  pkg/file/v1/file_service.pb.go
  pkg/file/v1/file_service_grpc.pb.go
  pkg/jobpb/queue_job_protoopaque.pb.go
  pkg/proto/config.pb.go
  pkg/proto/config_protoopaque.pb.go
  pkg/subtitle/job/v1/queue_job.pb.go
  pkg/subtitle/job/v1/queue_job_protoopaque.pb.go
  pkg/subtitle/translator/v1/translator.pb.go
  pkg/subtitle/translator/v1/translator_grpc.pb.go
  pkg/subtitle/translator/v1/translator_protoopaque.pb.go
  pkg/web/v1/authenticate_user_request.pb.go
  pkg/web/v1/authenticate_user_response.pb.go
  pkg/web/v1/get_user_request.pb.go
  pkg/web/v1/health_check_request.pb.go
  pkg/web/v1/health_check_response.pb.go
  pkg/web/v1/logout_user_request.pb.go
  pkg/web/v1/refresh_token_request.pb.go
  pkg/web/v1/web_service.pb.go
  pkg/web/v1/web_service_complete.pb.go
  pkg/web/v1/web_service_grpc.pb.go
Due: prettier-js-md

fix(.gitignore): remove generated file patterns and add test directories
  .gitignore
  TEST_ANALYSIS.md
Due: prettier-js-md

docs: update TEST_ANALYSIS.md to reflect protobuf files now tracked
  TEST_ANALYSIS.md
Due: prettier-js-md

chore: remove unnecessary metadata from super-linter PR configuration
  .github/linters/super-linter-pr.env
Due: none

fix(authserver): update OAuth flow test to use correct token handling and version bump
  pkg/authserver/oauth_flow_test.go
Due: none

fix(authserver): update user info mock method in OAuth user info retrieval test
  pkg/authserver/oauth_flow_test.go
Due: none

feat(gcommonauth): add RBAC permission checks with comprehensive tests
  pkg/authserver/oauth_flow_test.go
  pkg/cache/comprehensive_cache_test.go
  pkg/cache/interface.go
  pkg/cache/memory.go
  pkg/gcommonauth/rbac_test.go
  pkg/grpcserver/health_test.go
Due: none

feat(database): add comprehensive tests for store operations and interface compliance
  pkg/database/store_factory_test.go
  pkg/database/store_test.go
Due: none
