Repository jdfalk/subtitle-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, prettier-js-md, python-fallback

.pre-commit-config.yaml:

# file: .pre-commit-config.yaml
# version: 1.0.0
# guid: 123e4567-e89b-12d3-a456-426614174000

# Pre-commit configuration for subtitle-manager
# Install with: pip install pre-commit ruff && pre-commit install

repos:
  # Ruff for Python linting and formatting (fallback to alternatives if not available)
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter (Python)
        entry: bash
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff check --fix .; else echo "Ruff not found, install with: pip install ruff"; fi']
        language: system
        files: \.py$
        pass_filenames: false
        
      - id: ruff-format
        name: Ruff Formatter (Python)
        entry: bash
        args: ['-c', 'if command -v ruff >/dev/null 2>&1; then ruff format .; else echo "Ruff not found, install with: pip install ruff"; fi']
        language: system
        files: \.py$
        pass_filenames: false

      # Prettier using existing webui setup
      - id: prettier-js-md
        name: Prettier (JS/MD/CSS/JSON)
        entry: bash
        args: ['-c', 'cd webui && if [ -f package.json ] && npm list prettier >/dev/null 2>&1; then npm run format; else echo "Prettier not available, install webui dependencies with: cd webui && npm install"; fi']
        language: system
        files: \.(js|jsx|ts|tsx|css|scss|json|md|yaml|yml|html)$
        exclude: ^(webui/dist/|webui/node_modules/|\.git/|\.github/copilot-instructions\.md)
        pass_filenames: false

  # Fallback to built-in tools for basic Python formatting if Ruff unavailable
  - repo: local
    hooks:
      - id: python-fallback
        name: Python Basic Formatting (fallback)
        entry: bash
        args: ['-c', 'if ! command -v ruff >/dev/null 2>&1; then python3 -m py_compile $(find . -name "*.py" -not -path "./webui/*" -not -path "./.git/*") 2>/dev/null || echo "Python syntax check completed"; fi']
        language: system
        files: \.py$
        pass_filenames: false

feat: add initial workflow configuration for subtitle-manager
  .github/workflow-config.yaml
Due: prettier-js-md

chore: remove outdated GitHub workflows for release and security
  .github/workflow-config.yaml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/docs-automation.yml
  .github/workflows/issue-automation.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-automation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: prettier-js-md

feat: add sync receiver scripts for managing synchronization operations
  .github/scripts/sync-receiver-check-changes.py
  .github/scripts/sync-receiver-commit-push.py
  .github/scripts/sync-receiver-generate-summary.py
  .github/scripts/sync-receiver-sync-files.py
Due: ruff-check, ruff-format, python-fallback

feat: update Super Linter configuration to version 1.1.0 and refine validation settings
  .github/super-linter.env
Due: none

feat: update sync receiver workflow to version 1.1.0 with enhanced sync parameters and input options
  .github/workflows/sync-receiver.yml
Due: prettier-js-md

feat: update sync receiver workflow to version 1.2.0 with improved sync logic and cleanup steps
  .github/workflows/sync-receiver.yml
Due: prettier-js-md

fix(workflow): resolve GitHub App workflow permission issue v1.3.0
  .github/workflows/sync-receiver.yml
Due: prettier-js-md

feat(workflow): enhance sync-receiver with verbose logging
  .github/workflows/sync-receiver.yml
Due: prettier-js-md

fix(workflow): implement proper token handling for GitHub labels sync
  .github/workflows/sync-receiver.yml
Due: prettier-js-md

feat(workflow): update sync receiver script to version 1.1.0 with improved script exclusion handling
  .github/scripts/sync-receiver-sync-files.py
Due: ruff-check, ruff-format, python-fallback

feat(workflow): update sync receiver script to version 1.2.0 with enhanced logging and improved file handling
  .github/scripts/sync-receiver-sync-files.py
Due: ruff-check, ruff-format, python-fallback

chore: remove obsolete rebase summary file
  rebase-summary-20250707_003822.md
Due: prettier-js-md

feat(workflow): add CI workflow configuration for comprehensive testing and linting
  .github/workflows/ci.yml
Due: prettier-js-md

feat(workflow): update Go package paths in proto files and add build matrix detection script
  .github/scripts/detect-build-matrix.py
  .github/workflows/commit-override-handler.yml
  .github/workflows/matrix-build.yml
  proto/config.proto
  proto/queue_job.proto
  proto/subtitle/config/v1/config.proto
  proto/subtitle/job/v1/queue_job.proto
  proto/subtitle/translator/v1/translator.proto
  proto/translator.proto
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

fix(ci): update matrix build system with protobuf and frontend detection fixes
  .github/scripts/detect-build-matrix.py
  .github/workflows/matrix-build.yml
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

frontend: add Docker detection and security scanning scripts for matrix build system
  .github/scripts/detect-build-matrix.py
  .github/scripts/docker-detect.py
  .github/scripts/docker-security.py
  .github/workflows/matrix-build.yml
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

chore(deps): align dependabot labels with repo conventions
  .github/dependabot.yml
Due: prettier-js-md

Add comprehensive labels.json file for issue and pull request categorization
  .vscode/tasks.json
  labels-current.json
  labels.json
Due: prettier-js-md

Remove deprecated labels-current.json file
  labels-current.json
Due: prettier-js-md

sync: update files from ghcommon
  .vscode/linters
  labels.md
  scripts/sync-github-labels.py
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

chore: update buf.yaml and config.proto versions; enhance logging configuration
  buf.yaml
  proto/config.proto
Due: prettier-js-md

fix(ci): correct gcommon reference to ghcommon in workflow
  .github/workflows/ci.yml
Due: prettier-js-md

fix(ci): update to corrected CI workflow with ghcommon reference
  .github/workflows/ci.yml
Due: prettier-js-md

Add workflows for multi-language release builds and enhance sync-receiver script
  .github/workflows/release-docker.yml
  .github/workflows/release-frontend.yml
  .github/workflows/release-go.yml
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yml
  .github/workflows/release.yml
  .github/workflows/sync-receiver.yml
Due: prettier-js-md

refactor: remove deprecated proto files and clean up logging configuration
  proto/config.proto
  proto/queue_job.proto
  proto/subtitle/config/v1/config.proto
  proto/translator.proto
Due: none

delete: remove matrix build workflow file
  .github/workflows/matrix-build.yml
Due: prettier-js-md

delete: remove deprecated Docker build workflow file
  archive/docker-build.original.yml.disabled
Due: none

delete: remove deprecated Dockerfile and legacy CI configuration
  archive/Dockerfile.original
  archive/go-legacy.yml.disabled
Due: none

refactor: update import paths to use new gcommon SDK structure and increment version numbers
  buf.yaml
  examples/gcommon_usage.go
  go.mod
  pkg/authserver/server.go
  pkg/authserver/server_test.go
  pkg/cache/proto.go
  pkg/config/types.go
  pkg/gcommon/subtitle_format.go
  pkg/queue/message.go
  pkg/translatorpb/translator.pb.go
  pkg/translatorpb/translator_protoopaque.pb.go
  proto/config.proto
  proto/subtitle/translator/v1/translator.proto
Due: prettier-js-md

refactor: update gcommon SDK dependencies and improve logging provider implementation
  go.mod
  go.sum
  pkg/gcommonlog/logrus_provider.go
  pkg/gcommonlog/logrus_provider_test.go
Due: none

style: format code for improved readability and consistency across scripts and workflows
  .github/scripts/find-conflicted-prs.js
  .github/scripts/pr-linter-comment.js
  .github/scripts/process-conflicted-prs.js
  .github/workflows/release.yml
  .vscode/tasks.json
  CHANGELOG.md
  README.md
  go.mod
  labels.json
Due: prettier-js-md

sync: update files from ghcommon
  .github/linters/.eslintrc.yml
  .github/linters/.golangci.yml
  .github/linters/.markdownlint.json
  .github/linters/.prettierrc
  .github/linters/.pylintrc
  .github/linters/.python-black
  .github/linters/.yaml-lint.yml
  .github/linters/README.md
  .github/linters/clippy.toml
  .github/linters/ruff.toml
  .github/linters/rustfmt.toml
Due: prettier-js-md

sync: update files from ghcommon
  .github/linters/.markdownlint.json
Due: prettier-js-md

Implement code changes to enhance functionality and improve performance
  go.mod
  go.sum
Due: none

chore: update dependencies and remove unused import in cache.go
  go.mod
  go.sum
  pkg/webserver/cache.go
Due: none

fix(protobuf): add missing protocolbuffers/protobuf dependency to buf.yaml
  buf.yaml
  examples/gcommon_usage.go
  go.mod
  pkg/webserver/health.go
  pkg/webserver/health_test.go
  pkg/webserver/server.go
  pkg/webserver/system.go
Due: prettier-js-md

feat: Update health check implementation and add new health result structure
  cmd/grpcserver/main.go
  cmd/grpcserver_cmd.go
  examples/gcommon_usage.go
  go.mod
  go.sum
  pkg/authserver/server.go
  pkg/cache/proto.go
  pkg/jobpb/queue_job.pb.go
  pkg/metrics/metrics_gcommon.go
  pkg/translator/translator.go
  pkg/translatorpb/translator.pb.go
  pkg/translatorpb/translator_grpc.pb.go
  pkg/translatorpb/translator_protoopaque.pb.go
  pkg/webserver/health.go
  pkg/webserver/health_test.go
  pkg/webserver/server.go
  pkg/webserver/system.go
Due: none

fix(translator): update import for translatorpb and improve error handling in GRPCSetConfig
  pkg/translator/translator.go
Due: none

fix(authserver, cache): remove unnecessary blank lines in server.go and proto.go
  pkg/authserver/server.go
  pkg/cache/proto.go
Due: none
