Repository jdfalk/subtitle-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, prettier-js-md, python-fallback

ruff-check:
  name: Ruff Linter (Python)
  entry: bash
  args:
  - -c
  - 'if command -v ruff >/dev/null 2>&1; then ruff check --fix .; else echo "Ruff not found, install with: pip install ruff"; fi'
  language: system
  pass_filenames: false

ruff-format:
  name: Ruff Formatter (Python)
  entry: bash
  args:
  - -c
  - 'if command -v ruff >/dev/null 2>&1; then ruff format .; else echo "Ruff not found, install with: pip install ruff"; fi'
  language: system
  pass_filenames: false

prettier-js-md:
  name: Prettier (JS/MD/CSS/JSON)
  entry: bash
  args:
  - -c
  - 'cd webui && if [ -f package.json ] && npm list prettier >/dev/null 2>&1; then npm run format; else echo "Prettier not available, install webui dependencies with: cd webui && npm install"; fi'
  language: system
  pass_filenames: false

python-fallback:
  name: Python Basic Formatting (fallback)
  entry: bash
  args:
  - -c
  - if ! command -v ruff >/dev/null 2>&1; then python3 -m py_compile $(find . -name "*.py" -not -path "./webui/*" -not -path "./.git/*") 2>/dev/null || echo "Python syntax check completed"; fi
  language: system
  pass_filenames: false

refactor: update gRPC service and config handling, remove deprecated examples
  cmd/grpcserver_cmd.go
  cmd/grpcsetconfig.go
  examples/gcommon_usage.go
  go.mod
  go.sum
  pkg/grpcserver/server.go
  pkg/queue/jobs.go
  pkg/webserver/cache.go
  pkg/webserver/health.go
  pkg/webserver/server.go
  proto/config.proto
  proto/subtitle/job/v1/queue_job.proto
  proto/subtitle/translator/v1/translator.proto
Due: none

fix(protobuf): update buf version to 1.56.0 in GitHub Actions
  .github/workflows/release.yml
  go.mod
  go.sum
  pkg/media/client.go
  pkg/media/server.go
Due: prettier-js-md

fix(server): clean up import statements and remove unnecessary blank lines
  pkg/media/server.go
Due: none

fix(sync): add git pull before push in sync-receiver workflow
  .github/workflows/sync-receiver.yml
Due: prettier-js-md

fix(sync): add git pull before commit to avoid conflicts and clean up whitespace
  .github/workflows/sync-receiver.yml
Due: prettier-js-md

feat: add scripts for language detection and protobuf generation in GitHub Actions
  .github/scripts/detect_languages.py
  .github/scripts/run_buf_generate.py
  .github/workflows/release-protobuf.yml
  .github/workflows/release.yml
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

feat: update release workflow version to 3.2.0 and add workflow_call inputs for enhanced reusability
  .github/workflows/release.yml
Due: prettier-js-md

sync: update files from ghcommon
  .github/linters/.markdownlint.json
Due: prettier-js-md

feat: update CI workflow to version 1.13.0 with enhanced linting, testing, and documentation checks
  .github/workflows/ci.yml
Due: prettier-js-md

fix(ci): replace matrix-build with release workflow and preserve comprehensive VALIDATE settings
  .github/workflows/ci.yml
Due: prettier-js-md

feat(ci): move Super Linter configuration to environment file
  .github/linters/super-linter.env
  .github/workflows/ci.yml
Due: prettier-js-md

chore(linter): remove duplicate super-linter.env file
  .github/super-linter.env
Due: none

chore(linter): comment out all VALIDATE_ options by default
  .github/linters/super-linter.env
Due: none

sync: update files from ghcommon
  .github/linters/super-linter.env
Due: none

feat(ci): move Super Linter configuration to environment file
  .github/linters/super-linter.env
Due: none

fix(ci): resolve release workflow artifact dependency issues
  .github/workflows/release.yml
Due: prettier-js-md

feat(ci): update CI workflow and Super Linter configuration for improved validation
  .github/linters/.eslintrc.yml
  .github/linters/super-linter-ci.env
  .github/workflows/ci.yml
Due: prettier-js-md

feat(sync): deploy modernized configuration-driven sync system
  .github/scripts/sync-receiver-sync-files.py
  .github/workflow-config.yaml
  .github/workflows/sync-receiver.yml
Due: ruff-check, ruff-format, prettier-js-md, python-fallback

Implement code changes to enhance functionality and improve performance
  go.mod
  go.sum
Due: none

fix(go.mod): update gcommon dependency version and simplify replace directive
  go.mod
Due: none

sync: update files from ghcommon
  .github/linters/super-linter-ci.env
  .github/linters/super-linter-pr.env
  .github/linters/super-linter.env
Due: none

feat: Add comprehensive E2E testing documentation and setup scripts
  .env.local.template
  .github/scripts/README.md
  .github/workflows/release.yml
  Makefile
  docs/testing/E2E_QA_TESTING_GUIDE.md
  docs/testing/E2E_QUICK_REFERENCE.md
  docs/testing/E2E_SETUP_GUIDE.md
  scripts/CODEX-REBASE-GUIDE.md
  scripts/README-cleanup-tool.md
  scripts/README-notifications.md
  scripts/README-rebase.md
  scripts/README-unified-project-manager.md
  scripts/README.md
  scripts/copilot-firewall/README.md
  scripts/setup-e2e-environment.sh
  scripts/unified_project_config.json
  scripts/workflow-debug-output/reports/failure_analyses_20250811_135842.json
  scripts/workflow-debug-output/reports/summary_report_20250811_130247.md
  scripts/workflow-debug-output/reports/summary_report_20250811_132335.md
  scripts/workflow-debug-output/reports/summary_report_20250811_133609.md
  scripts/workflow-debug-output/reports/summary_report_20250811_135842.md
  testdir/anime/Attack on Titan (2013)/Attack.on.Titan.S01E01.en.srt
  testdir/anime/Attack on Titan (2013)/Attack.on.Titan.S01E01.ja.srt
  testdir/anime/Spirited Away (2001)/Spirited.Away.2001.ja.srt
  testdir/e2e-config.yaml
  testdir/movies/Blade Runner 2049 (2017)/Blade.Runner.2049.2017.en.sub
  testdir/movies/Interstellar (2014)/Interstellar.2014.en.srt
  testdir/movies/Interstellar (2014)/Interstellar.2014.fr.srt
  testdir/movies/The Matrix (1999)/The.Matrix.1999.1080p.BluRay.x264.mkv.placeholder
  testdir/movies/The Matrix (1999)/The.Matrix.1999.en.ass
  testdir/movies/The Matrix (1999)/The.Matrix.1999.en.srt
  testdir/movies/The Matrix (1999)/The.Matrix.1999.es.srt
  testdir/tv/Breaking Bad (2008)/Breaking.Bad.S01E01.en.srt
  testdir/tv/Game of Thrones (2011)/GoT.S01E01.Winter.Is.Coming.en.srt
Due: prettier-js-md

feat: Enhance MediaLibrary with Sonarr-style navigation and library management features
  webui/src/App.jsx
  webui/src/LibraryScan.jsx
  webui/src/MediaLibrary.jsx
Due: prettier-js-md

feat: Update E2E QA Testing Guide to version 1.1.0 with improved Media Library interface validation and updated local server address
  docs/testing/E2E_QA_TESTING_GUIDE.md
Due: prettier-js-md

Implement code changes to enhance functionality and improve performance
  Makefile
  scripts/setup-e2e-environment.sh
  webui/package-lock.json
Due: prettier-js-md

feat: Implement user authentication methods in database layer with placeholders for gcommonauth integration
  pkg/database/database.go
  pkg/database/pebble.go
  pkg/database/store.go
Due: none

feat: Update E2E QA Testing Guide to improve clarity in Media Library interface validation objectives
  docs/testing/E2E_QA_TESTING_GUIDE.md
Due: prettier-js-md

refactor: Clean up import statements and improve code formatting in App, MediaLibrary, and LibraryScan components
  webui/src/App.jsx
  webui/src/LibraryScan.jsx
  webui/src/MediaLibrary.jsx
Due: prettier-js-md

chore: Update gcommon dependency to v1.8.0 and add indirect dependencies for protovalidate, antlr, cel-go, and go-strcase
  go.mod
  go.sum
Due: none

Add comprehensive coding instructions for various languages and security guidelines
  docs/instructions/commit-messages.instructions.md
  docs/instructions/commit-messages.md
  docs/instructions/general-coding.instructions.md
  docs/instructions/github-actions.instructions.md
  docs/instructions/go.instructions.md
  docs/instructions/html-css.instructions.md
  docs/instructions/javascript.instructions.md
  docs/instructions/json.instructions.md
  docs/instructions/markdown.instructions.md
  docs/instructions/protobuf.instructions.md
  docs/instructions/pull-request-descriptions.instructions.md
  docs/instructions/pull-request-descriptions.md
  docs/instructions/python.instructions.md
  docs/instructions/r.instructions.md
  docs/instructions/rust-utility.instructions.md
  docs/instructions/rust.instructions.md
  docs/instructions/security.instructions.md
  docs/instructions/shell.instructions.md
  docs/instructions/test-generation.instructions.md
  docs/instructions/test-generation.md
  docs/instructions/typescript.instructions.md
Due: prettier-js-md

feat: Add comprehensive refactor tasks for Subtitle Manager to integrate gcommon v1.8.0
  docs/REFACTOR_TASKS.md
  docs/tasks/README.md
Due: prettier-js-md

feat: Implement comprehensive GitHub issue management system
  docs/tasks/01-gcommon-migration/TASK-01-001-replace-configpb.md
  docs/tasks/01-gcommon-migration/TASK-01-002-replace-databasepb.md
  docs/tasks/01-gcommon-migration/TASK-01-003-replace-gcommonauth.md
  docs/tasks/02-ui-fixes/TASK-02-001-fix-layout-navigation.md
  docs/tasks/02-ui-fixes/TASK-02-002-selenium-testing.md
  docs/tasks/03-github-management/TASK-03-001-issue-management.md
Due: prettier-js-md

refactor: Improve formatting and readability of REFACTOR_TASKS.md
  docs/REFACTOR_TASKS.md
Due: prettier-js-md

refactor: Refactor GitHub Issue Management Documentation and Code
  docs/tasks/01-gcommon-migration/TASK-01-001-replace-configpb.md
  docs/tasks/01-gcommon-migration/TASK-01-002-replace-databasepb.md
  docs/tasks/01-gcommon-migration/TASK-01-003-replace-gcommonauth.md
  docs/tasks/02-ui-fixes/TASK-02-001-fix-layout-navigation.md
  docs/tasks/02-ui-fixes/TASK-02-002-selenium-testing.md
  docs/tasks/03-github-management/TASK-03-001-issue-management.md
  docs/tasks/README.md
Due: prettier-js-md

feat(middleware): Migrate core middleware to use gcommon types with opaque API
  docs/tasks/04-advanced-migration/TASK-04-001-migrate-user-type.md
  docs/tasks/04-advanced-migration/TASK-04-002-migrate-session-type.md
  docs/tasks/04-advanced-migration/TASK-04-003-update-auth-flow.md
  docs/tasks/04-advanced-migration/TASK-04-004-migrate-core-middleware.md
Due: prettier-js-md

feat(migration): Update session and authentication flow to use gcommon types
  docs/tasks/03-github-management/TASK-03-001-A-issue-analysis.md
  docs/tasks/03-github-management/TASK-03-001-B-issue-resolution.md
  docs/tasks/03-github-management/TASK-03-001-issue-management.md
  docs/tasks/04-advanced-migration/TASK-04-001-migrate-user-type.md
  docs/tasks/04-advanced-migration/TASK-04-002-migrate-session-type.md
  docs/tasks/04-advanced-migration/TASK-04-003-update-auth-flow.md
  docs/tasks/04-advanced-migration/TASK-04-004-migrate-core-middleware.md
Due: prettier-js-md

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  prettier-js-md: any of: \.(js|jsx|ts|tsx|css|scss|json|md|yaml|yml|html)$, but not: ^(webui/dist/|webui/node_modules/|\.git/|\.github/copilot-instructions\.md)
  python-fallback: any of: \.py$
